---
layout: default
---

<br /><br />
<h2>Photos</h2>
<div class="grid" data-masonry='{ "itemSelector": ".grid-item", "percentPosition": true, "columnWidth": 250, "gutter": 20 }' style="margin-left: 8%;" style="width: 250px; height: 250px;">
  <div class="grid-item color1">
    <center>
      <style>.color1{background-color:#3949AB;}</style>
      <a href="http://algorithmic.rotoscope.work/2017/02/06/algorithmic-reflections-on-the-immigration-debate/"><img src="http://kinlane-productions.s3.amazonaws.com/api_evangelist_site/blog/ellisisland_nazi_poster.jpg" alt="The Immigration Debate" width="240"></a>
      <div class="container">
        <h4><a href="http://algorithmic.rotoscope.work/2017/02/06/algorithmic-reflections-on-the-immigration-debate/">The Immigration Debate</a></h4>
      </div>
    </center>
  </div>
  <div class="grid-item color2">
    <center>
      <style>.color2{background-color:#3949AB;}</style>
      <a href="http://algorithmic.rotoscope.work/2017/02/14/the-russian-propaganda-distortion-field-around-the-white-house/"><img src="http://kinlane-productions.s3.amazonaws.com/api_evangelist_site/blog/white_house_window_propaganda_leaflets.jpg" alt="Russian Propaganda" width="240"></a>
      <div class="container">
        <h4><a href="http://algorithmic.rotoscope.work/2017/02/14/the-russian-propaganda-distortion-field-around-the-white-house/">Russian Propaganda</a></h4>
      </div>
    </center>
  </div>
  <div class="grid-item color3">
    <center>
      <style>.color3{background-color:#3949AB;}</style>
      <a href="http://algorithmic.rotoscope.work/2017/06/28/highlighting-algorithmic-transparency-using-my-algorotoscope-work/"><img src="https://s3.amazonaws.com/kinlane-productions/algorotoscope/stories/crypto-machine-bletchley_copper_circuit.png" alt="Algorithmic Transparency" width="240"></a>
      <div class="container">
        <h4><a href="http://algorithmic.rotoscope.work/2017/06/28/highlighting-algorithmic-transparency-using-my-algorotoscope-work/">Algorithmic Transparency</a></h4>
      </div>
    </center>
  </div>
  <div class="grid-item color3">
    <center>
      <style>.color4{background-color:#3949AB;}</style>
      <a href="http://algorithmic.rotoscope.work/2017/01/03/finding-the-right-dystopian-filter-to-represent-the-world-unfolding-around-us/"><img src="http://kinlane-productions.s3.amazonaws.com/algorotoscope/losangelescloudy/light_dali/file-00_00_35_50.jpg" alt="Dystopian Filters" width="240"></a>
      <div class="container">
        <h4><a href="http://algorithmic.rotoscope.work/2017/01/03/finding-the-right-dystopian-filter-to-represent-the-world-unfolding-around-us/">Algorithmic Transparency</a></h4>
      </div>
    </center>
  </div>
</div>
<div class="grid" data-masonry='{ "itemSelector": ".grid-item", "percentPosition": true, "columnWidth": 500, "gutter": 20 }' style="margin-left: 8%;">
  <div class="grid-item color1">
    <center>
      <style>.color5{background-color:#3949AB;}</style>
      <a href="http://algorithmic.rotoscope.work/2017/03/08/why-would-people-want-fine-art-trained-machine-learning-models/"><img src="https://s3.amazonaws.com/kinlane-productions/algo-rotoscope/stories/art-museum/art-museum_kandinsky_bv.jpg" alt="Fine Art" width="500"></a>
      <div class="container">
        <h4><a href="http://algorithmic.rotoscope.work/2017/03/08/why-would-people-want-fine-art-trained-machine-learning-models/">Fine Art</a></h4>
      </div>
    </center>
  </div>
  <div class="grid-item color2">
    <center>
      <style>.color6{background-color:#3949AB;}</style>
      <a href="http://algorithmic.rotoscope.work/2017/01/14/when-the-companies-who-have-all-your-digital-bits-promise-not-to-recreate-you/"><img src="http://kinlane-productions.s3.amazonaws.com/api_evangelist_site/blog/princess_leia_blue_circuit.jpg" alt="Digital Bits" width="500"></a>
      <div class="container">
        <h4><a href="http://algorithmic.rotoscope.work/2017/01/14/when-the-companies-who-have-all-your-digital-bits-promise-not-to-recreate-you/">Russian Propaganda</a></h4>
      </div>
    </center>
  </div>
</div>

<h2>Videos</h2>
<div class="grid" data-masonry='{ "itemSelector": ".grid-item", "percentPosition": true, "columnWidth": 250, "gutter": 20 }' style="margin-left: 8%;" style="width: 250px; height: 250px;">
{% for video in site.data.videos %}
  <div class="grid-item color{{forloop.index}}">
    <center>
      <style>.color{{forloop.index}}{background-color:#3949AB;}</style>
      {% for image in video.images limit:1 %}
        <a href="/videos/{{ video.slug }}/"><img src="{{ image }}" alt="{{ video.name }}" width="240"></a>
      {% endfor %}
      <div class="container">
        <h4><a href="/videos/{{ video.slug }}/">{{ video.name }}</a></h4>
      </div>
    </center>
  </div>
{% endfor %}
</div>

<script src="{{ site.baseurl }}/js/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/masonry.pkgd.min.js"></script>
